@charset "utf-8";

body {
    font-size: 14px;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    line-height: 2;
    letter-spacing: 0;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.inner {
    width: 86.5%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 40px 0;
    line-height: 1;
}

.mainvisual {
    background: url(./images/bg_main.png) no-repeat center center;
    background-size: cover;
    padding: 240px 0 80px;
}

.mainvisual dl {
    width: 343px;
    padding: 40px 40px;
    background-color: #FFFFFF;
}

.mainvisual dl dt {
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1.6;
}

.mainvisual dl dd {
    margin-top: 30px;
    font-size: 36px;
    line-height: 1.38;
}


.posts h3 {
    margin-top: 155px;
    margin-bottom: 70px;
    font-size: 36px;
    line-height: 1.19;
    letter-spacing: 0.05em;
    text-align: center;
}

.posts h3::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    background-color: #72C9F3;
    border-radius: 50%;
}

.posts h3::after {
    content: "";
    display: block;
    width: 80px;
    margin: 20px auto 0;
    border-top: solid 1px #1E1E1E;
}

.posts .discussion {
    display: grid;
    row-gap: 50px;
}

.discussion article:first-child {
    border-bottom: solid 1px #DDDDDD;
    padding-bottom: 50px;
}

.new {
    position: relative;
}

.new::before {
    padding: 6px 10px;
    content: "NEW";
    display: inline-block;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1;
}

.posts p {
    margin: 20px 0 10px 0;
}

.posts li {
    padding: 6px 12px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    display: inline-block;
    background-color: #F5F5F5;
}

footer {
    margin-top: 100px;
    padding: 100px 0;
    background-color: #1E1E1E;
    color: #FFFFFF;
}

footer dl {
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

footer dl div {
    display: grid;
    grid-template-columns: 45px 1fr;
    column-gap: 50px;
    padding: 20px;
    border-bottom: solid 1px #FFFFFF;
}

.copy {
    font-size: 12px;
    text-align: center;
}

@media (min-width:640px) {
    .posts .discussion {
        grid-template-columns: 1fr 1fr;
        column-gap: 60px;
    }

    .discussion article:first-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}