@use "sass:math";

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px

// --- Colors ---
$color-text: #5A5A5A;
$color-base: #000;
$color-main: #ED145B;
$color-accent: #EDAA14;
$color-bg: #2B2B2B;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: Verdana, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 640px,
    "desktop": 1024px
);


// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $px-value - px値
// @return {string} - rem値
@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}


// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
    @media (width >=map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width
@mixin inner($mw: 1000px, $w: 90%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}


// =================================================================
//  common
// =================================================================

body {
    color: $color-text;
    font-size: rem(14);
    font-family: $font-family-gothic;
    line-height: math.div(24, 14);
    letter-spacing: 0.025em
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.header {
    position: fixed;
    width: 100%;
    padding: $space-xxl 0;
    background-color: rgba(43, 43, 43, 0.8);
    color: #fff;


    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
    }
}

.gnav {
    &__list {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        column-gap: rem(30);
    }

    &__item {
        font-weight: bold;
    }

    &__active {
        color: $color-main;
    }
}

.footer {
    padding: $space-xxl 0 rem(140);
    background-color: $color-bg;
    color: #fff;

    &__inner {
        @include inner();
    }
}

.btn {
    display: inline-block;
    padding: $space-m rem(50);
    color: #fff;
    background-color: $color-main;
    font-weight: bold;

    &--read {
        background-color: $color-accent;
    }
}

// =================================================================
//  index
// =================================================================

.mainvisual {
    padding: rem(240) 0 rem(140);
    background: url(../images/bg_mainvisual.png) no-repeat center / cover;

    @include mq("tablet") {
        text-align: center
    }

    &__inner {
        @include inner();
    }

    &__title {
        font-size: rem(46);
        color: #fff;
        font-weight: bold;
        line-height: math.div(55, 46);
    }

    &__active {
        color: $color-main;
    }

    &__text {
        margin: $space-xxl 0;
        color: #fff;
        display: grid;
        row-gap: $space-l;
    }
}

.updates {
    margin: rem(120) 0;

    &__inner {
        @include inner();
    }

    &__title {
        font-size: rem(32);
        color: $color-bg;
        font-weight: bold;
        text-align: center;
        margin-bottom: $space-xxxl;
    }

    &__list {
        display: grid;
        row-gap: rem(60);

        @include mq("tablet") {
            grid-template-columns: 1fr 1fr;
            column-gap: rem(60);
        }
    }
}

.card {
    &__title {
        padding: $space-l 0 rem(14);
        border-bottom: 1px solid $color-text;
        font-size: rem(16);
        font-weight: bold;
    }

    &__text {
        margin: rem(14) 0 $space-xxxl;
    }
}