body {
  color: #000000;
  font-size: 14px;
  line-height: 2.4285714286;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* header */
.header {
  padding: 40px 0;
  text-align: center;
}
.header__inner {
  max-width: 1000px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
.header__logo {
  font-size: 24px;
  font-weight: bold;
}

.gnav {
  align-self: center;
}
.gnav__list {
  display: grid;
  grid-auto-flow: column;
  -moz-column-gap: 30px;
       column-gap: 30px;
  font-size: 12px;
}
.gnav__active {
  color: #E40065;
}

/* mainvisual */
.mainvisual__inner {
  max-width: 1000px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}

/* philosophy */
.philosophy__title {
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 60px;
}
.philosophy__title::before {
  content: "PHILOSOPHY";
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1;
}
.philosophy__title::after {
  content: "";
  display: block;
  width: 100px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: #E40065 solid 2px;
}
.philosophy__inner {
  max-width: 1000px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}
.philosophy__text {
  max-width: 780px;
  margin: auto;
  display: grid;
  row-gap: 60px;
  text-align: center;
}
.philosophy__text p {
  word-break: keep-all;
}

/* works */
.works__title {
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 60px;
}
.works__title::before {
  content: "WORKS";
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1;
}
.works__title::after {
  content: "";
  display: block;
  width: 100px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: #E40065 solid 2px;
}
.works__inner {
  max-width: 1000px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}
.works__list {
  display: grid;
  row-gap: 60px;
}
@media (640px <= width) {
  .works__list {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}

.card__catch {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6666666667;
  margin: 30px 0 20px 0;
}
.card__pic {
  position: relative;
}
.card__pic--new::before {
  content: "NEW";
  display: inline-block;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  left: 15px;
  bottom: 15px;
  padding: 0 15px;
  background-color: #E40065;
  color: #FFFFFF;
}

/* voice */
.voice {
  background-color: #F4F4F4;
  margin-top: 120px;
  padding-bottom: 120px;
}
.voice__title {
  font-size: 32px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 60px;
}
.voice__title::before {
  content: "VOICE";
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1;
}
.voice__title::after {
  content: "";
  display: block;
  width: 100px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: #E40065 solid 2px;
}
.voice__inner {
  max-width: 1000px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}
.voice__list {
  display: grid;
  row-gap: 60px;
}
@media (640px <= width) {
  .voice__list {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}

/* customer */
.customer {
  display: grid;
  padding: 45px 40px;
  background-color: #fff;
  border-radius: 20px;
  border: #a3a3a3 solid 1px;
}
.customer__profile {
  display: grid;
  justify-self: start;
  grid-auto-flow: column;
  align-items: center;
  align-self: end;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.customer__name {
  line-height: 1.7142857143;
}
.customer__name dt {
  font-weight: bold;
}

/* footer */
.footer {
  padding: 80px 0;
  background-color: #2F2F2F;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.6666666667;
}
.footer__inner {
  max-width: 1000px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=style.css.map */